name: Release
on:
  push:
    branches:
      - "testdrive"
      - "tmp/utxobynft"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-testdrive

jobs:
  # Creates a GitHub Container package using multi-arch docker builds
  container_build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v1
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          # temporarly removing arm platform until we resolve the ca-certificates issue
          #platforms: linux/arm64,linux/amd64
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
